body 
    { color: rgb(33, 6, 26);
    font-size: 20px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    border: 10px ridge rgb(88, 9, 66);
    background-color:rgb(105, 76, 103);}
    
    


h1, h2, h3, h4 
    {color:rgb(31, 5, 29);
    font-family:'Times New Roman', Times, serif ;
    margin-top: 10px;
    text-decoration: underline;}

a
    { color:rgb(214, 188, 207);
    font-style: italic;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    } 

h1 
    { font-size: 64px;
    text-align: center;
    margin: 0;
    text-decoration: underline;}

h2
    {color:rgb(188, 175, 184);}

.hlavicka 
    { padding: 10px 10px;
    background-color:rgb(252, 236, 255);
    border-top-left-radius: inherit;}


.foto img
    {width: 300px;
    border-radius: 10px;
    margin: 15px 10px 20px 10%;
    float: left;
    border: 5px solid rgb(80, 52, 76);}


.kontakt
        {padding: 10px 20% 40px 10%;
        overflow: auto;
        color: rgb(214, 188, 207)}


.education
        {padding:10px 15% ;
        background-color: rgb(252, 236, 255);}

.works
        {padding: 10px 15%;
        background-color: rgb(252, 236, 255);}

.others
        {padding: 10px 15%;
        margin-bottom: 0px;
        background-color: rgb(252, 236, 255);}


footer
    {text-align: center;
    color: rgb(31, 5, 29);
    padding: 10px;
    background-color: rgb(252, 236, 255);
    margin-top: 0;}








